body {
  background-color: powderblue;
}

h1 {
  color: #eb16eb;
}

h3 {
  color: #eb16eb;
}

hr {
  background-color: ;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
